.pimage {
    margin: auto;
    max-height: 300px;
}
.pname {
    font-size:22px;
    color:#333;
    margin-top:0px;
}
.brand {
    color:#3fa9f5;
    font-size:14px;
}
.price-txt {
    color:#999;
    font-size:14px;
}
.bestprice {
    font-size: 22px;
    color: #333;
    margin-left: 20px;
}
.price {
    margin-top:70px;
    margin-bottom:57px;
}
.img-div {
    background:#fff;height:330px;
}
.beststore {
    max-height:40px;
    max-width:180px;
}
.store-img-div {
    width:180px;
    height:40px;
    margin-left:10px;
}
.buy {
    width:180px;
    height:40px;
    background:#f78d21;
    color:#fff;
    font-size:17px;
    margin-left:5px;
    outline:none;
    border:none;
    border-radius:3px;
}
.similarname {
    font-size:11px;
}
.product-div {
    margin: 0.5% 1% 0.5% 0%;
}
h4 {
    font-size:18px;
}
@media(max-width:767px) {
    .pname {
        font-size:14px;
    }
    .price {
        margin:0px;
        /*width:50%;*/
    }
    .padding-xs0 {
        padding:0px;
    }
    .bestprice {
        font-size: 16px;
        margin-left: 10px;
    }
    .buy {
        width: 100%;
        margin-left: 0px;
        margin-top:10px;
    }
    .dashboard30 {
        margin-top:30px;
    }
    .price-xs {
        height:40px;
        display:flex;
        align-items:center;
    }
}