.footer-section {
    height:425px;
    background: #0b0448;
    margin-top:40px;
    padding:0px;
}
.footer-content-section {
    background:#0b0448;
}
.footer-category {
    height:260px;
    /*background-image:url('../../images/banner.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;*/
    width:100%;
    text-align:center;
    position:relative;
}
.footer-category ul {
    padding: 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.footer-category ul li {
    display:inline-block;
    margin:0 30px;
}
.footer-category ul li a {
    color:#fff;
    /*display: flex;*/
    align-items: center;
}

.footer-category ul li a span {
    margin:0 3px;
}
.footer-content-section {
    width:100%;
    height:325px;
}
.footer-logo-row {
    padding: 0px 40px;
    margin-top: 30px;
}
.footer-logo {
    max-width:60px;
}
.social-icons {
    float:right;
    color:#fff;
    position: relative;
    top: -50px;
    height:45px;
}
.social-icons ul {
    list-style-type:none;
    padding:0px;
}
.social-icons ul li {
    display:inline-block;
}
.social-icons ul li span {
    font-size:47px;
    color:#fff;
}
.social-icon-md {
    float: left;
    padding-left: 92px;
    top: 0px;
    width: 100%;
    margin-top: 30px;
}
.subscribe-div {
    float:right;
    display: flex;
    align-items: center;
}
.input-subscribe {
    width: 355px;
    height: 45px;
    padding-left: 10px;
    border-radius: 2px;
    border: none;
}
.subscribe-btn {
    width:135px;
    height:45px;
    background:#f78d21;;
    color:#fff;
    border:none;
    border-radius:2px;
    margin-left:2px;
}
.footer-text {
    color:#b3b3b3;
    margin-top:45px;
}
.footer-social-app {
    list-style-type:none;
    padding-left:110px;
    margin-top:120px;
}
.footer-social-app li {
    display:inline;
    margin-right:10px;
}
.footer-social-app li img {
    width:40px;
    height:40px;
    background: #f6f6f6;
    border-radius: 4px;
}
.footer-social-app li:last-child img {
    width:200px;
    height:40px;
    background:none;
    border-radius:0;
}
.footer-social-app li:last-child {
    margin-left:5px;
}
.footer-map {
    margin-top:40px;
    font-size: 12px;
}
.footer-atag {
    color:#b3b3b3;
}
.footer-atag:hover, .footer-atag:focus, .footer-atag:visited {
    color:#b3b3b3;
}
.icon-gplus {
    font-size:43px !important;
}

@media(max-width:767px) {
    .footer-category ul li {
        margin:0px 1%;
    }
    .footer-logo-row {
        margin-top:18px;
        padding:0px 15px;
    }
    .social-icons {
        float:left;
        width: 100%;
        text-align: center;
        top:30px;
    }
    .subscribe-row {
        margin-top:35px;
        padding:0px;
    }
    .subscribe-div {
        display: block;
        width: 100%;
        text-align: center;
    }
    .subscribe-btn {
        position:relative;
        top:-1px;
    }
    .footer-logo-smdiv {
        padding-left:15px;
        margin-top:30px;
    }
    .store-div {
        padding:0px;
    }
    .store-icons ul {
        padding:0px;
        list-style-type:none;
        text-align:center;
    }
    .store-icons ul li {
        display:inline-block;
        margin: 0 4.1%;
    }
    .store-icons ul li img {
        width:130px;
        height:40px;
    }
    .social-icons {
        top:0px;
    }
    .input-subscribe {
        width:210px;
        height:30px;
        font-size:10px;
    }
    .subscribe-btn {
        width:78px;
        height:30px;
        font-size:10px;
        top:0px;
    }
    .footer-content-section {
        height:auto;
        position:absolute;
    }
    .footer-map {
        padding-bottom:30px;
    }
    .footer-text {
        margin-top:20px;
    }
    .padding-xs {
        padding:0px;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .social-icons {
        float:left;
        width: 100%;
        text-align: center;
        top:0px;
    }
    .subscribe-row {
        margin-top:35px;
    }
    .subscribe-div {
        display: block;
        width: 100%;
        text-align: center;
    }
    .subscribe-btn {
        position:relative;
        top:-1px;
    }
    .footer-logo-smdiv {
        padding-left:15px;
        margin-top:30px;
    }
    .store-icons ul {
        padding:0px;
        list-style-type:none;
        text-align:center;
    }
    .store-icons ul li {
        display:inline-block;
        margin: 0 5px;
    }
    .store-icons ul li img {
        width:130px;
        height:40px;
    }
    .footer-content-section {
        height:auto;
        position:absolute;
    }
    .footer-map {
        padding-bottom:30px;
    }
    .footer-text {
        margin-top:20px;
    }
}

@media(min-width:992px) and (max-width:1199px) {
    .input-subscribe {
        width:255px;
    }
    .footer-social-app {
        padding-left:65px;
    }
    .footer-social-app li:last-child {
        margin-left: 35px;
    }
    .footer-content-section {
        height:370px;
    }
    .social-icon-md {
        padding-left:47px;
    }
}