body {
	font-family: 'Ubuntu', sans-serif !important;
	background:#f2f2f2;
}
.banner-section {
	padding:0px;
}
.banner {
	width:100%;
	height:300px;
	background-image: url('../images/banner.png');
	position:relative;
}
.login-bg {
	background-image: url('../images/popup-image.png');
	background-repeat: no-repeat;
	background-size: contain;
}
.banner-text {
	 position: absolute;
	 top: 83px;
	 left: 60%;
 }
.shop-alone {
	font-size:38px;
	color:#333;
}
.consult-recommend-share {
	font-family: "Comic Sans MS";
	font-size:20px;
}
.consult-recommend-share span {
	margin-right:10px;
}
.consult {
	color:#4d7ef7;
}
.recommend {
	color:#e86025;
}
.share {
	color:#ed2fbc;
}
.shop-socially {
	color:#fff;
	font-size:20px;
	font-family: "Comic Sans MS";
	font-weight:600;
}
.margin40 {
	margin-top:40px;
}
.clipscount {
	font-size:20px;
	color:#666;
}
.clipbadge {
	background:#ffcb05;
	margin-left:10px;
}
.product-div {
	width: 24%;
	margin: 0.5%;
	background:#fff;
	height:268px;
    color:#666;
}
.product-img {
	max-height:165px;
	margin: 0 auto;
}
.store-img {
	max-height:20px;
	margin:0 auto;
}
.mbottom {
	margin-bottom:0px;
}
.valign {
	display:flex;
	align-items:center;
}
.pname {
	font-size:11px;
}
.mtop15 {
	margin-top:15px;
}
.mtop10 {
	margin-top:10px;
}
.mtop5 {
	margin-top:5px;
}
.mbottom10 {
	margin-bottom:10px;
}
.width100 {
	width:100%;
}
.border-right {
	border-right:solid 1px #e4e4e4;
}
.mleft15 {
	margin-left:15px;
}
.log-head {
    font-size:32px;
    color:#ffcb05;
}

/*registration css*/

.modal-content {
	border-radius:0px;
}
.register-section  input{
	margin-bottom: 5px;
	width: 80%;
    height: 38px;
    border: solid 1px #afdbc4;
	border-radius: 3px;
	outline: none;
	padding-left: 10px;
    float:right;
    color:#afdbc4 !important;

}
.register-section #fname, .register-section #lname, .register-section #dob, .register-section #gender {
    width:39%;
    height:38px;
}
.register-section #lname, .register-section #gender {
    margin-left:2%;
}
.register-section button {
    border: solid 1px #29abe2;
    background: #29abe2;
    color: #fff;
    height: 38px;
    width: 80%;
    border-radius: 4px;
    float: right;
    margin-top:15px;
}
#gender {
    border-radius: 4px;
    border: solid 1px #afbdc4;
    outline: none;}
.login-section {
    margin-top: 12px;
    float: right;
}
.login-section input {
    float:left;
}
.login-section button {
    border:solid 1px #629fcc;
    background:#629fcc;
    margin-right:20px;
    float:left;
}
.fwd-pwd {
    font-size: 12px;
    color: #629fcc !important;
    height: 10px !important;
    outline: none;
    text-align:right;
    background: none !important;
    border: none !important;
}
.fb-img {
    max-width:130px;
    max-height:38px;
    margin-left:20px;
}
.login-with {
    color:#629fcc;
    font-size:14px;
}
.fb-p {
    width: 80%;
    top: 44px;
    position: relative;
    text-align: right;
}
.ca {
    width: 80%;
    color: #629fcc;
    top: 60px;
    position: relative;
}
.loginModal {
    height:428px;
}
.registerModal {
    height:468px;
}
.italic {
    margin-left:150px;
}
.tos {
    font-size: 10px;
    margin-top: 10px;
    font-weight: 600;
    padding: 0px;
}
.already {
    width: 80%;
    margin-top: 15px;
    color: #629fcc;
    cursor: pointer;
}

@media (max-width:767px) {
	.product-div {
		width:49%;
	}
	.banner-text {
		left:0%;
	}
    .italic {
        font-size:18px;
        margin-left:0px;
    }
    .log-head {
        font-size:18px;
    }
    .register-section input, .register-section button, .fb-p, .ca, .already {
        width:100%;
    }
    .register-section #fname, .register-section #lname, .register-section #dob, .register-section #gender {
        width: 49%;
    }
    .login-bg {
        background-image:url('../images/popuo-bg.png');
    }
    .pname-div {
        overflow: hidden;
        height: 50px;
    }
    .banner-text {
        margin-left: calc((100vw - 288px)/2);
    }

}
@media (min-width:768px) and (max-width:991px) {
	.product-div {
		width:32%;
	}
    .modal-dialog {
        width:750px;
        height:428px;
    }
}

@media (min-width:992px) {
    .modal-dialog {
        width:970px;
        height:428px;
    }
}