.navbar-home {
    height:100px;
    margin-bottom:0px;
    border: none;
}
.not-profile {
    position:relative;
    right:70px;
}
.nav1 {
    height:35px;
    background:#2b4f82;
    width:100%;
    color:#fff;
    font-size:12px;
}
.nav2 {
    height:65px;
    background:#255589;
    width:100%;
}
.clip-logo {
    max-width:40px;
    margin-left:70px;
}
.input-search {
    padding-right:30px;
    border-radius:3px !important;
    height:40px;
}
.icon-search {
    font-size: 20px;
    right: 10px;
    position: absolute;
    z-index: 9;
    cursor: pointer;
    top: 9px;
    color:#999;
}
.form-group {
    margin-bottom:0px;
}

.nav-list {
    list-style-type: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 6px;
    padding: 0px;
    width: auto;
    float: right;
    margin-right: 35px;
}
.nav-list>li {
    display: inline-block;
    color: #fff;
    margin: 0 20px;
    padding-bottom:2px;
    font-weight:600;
    cursor:pointer;
}

.mright5 {
    margin-right:5px;
}
.nav-list-active {
    color:#ffcb05 !important;
    border-bottom:solid 2px #ffcb05;
}
.material-icons {
    position:relative;
    top:7px;
}

/*drop-down-menu css*/
/*categories list css*/
/*.categories ul {
    padding:0px;
    column-count:6;
}
.categories ul li {
    list-style-type:none;
    padding:8px 0px;
}
.categories ul li a {
    color: #333;
    text-decoration: none;
}*/
.drop-down>a {
    color:#fff;
}
.drop-down>a:hover {
    color:#ffcb05;
    text-decoration:none;
}
.drop-down:hover {
    color:#ffcb05;
    border-bottom:solid 2px #ffcb05;
}
.clips>a {
    color:#fff;
}
.clips>a:hover {
    color:#ffcb05;
    text-decoration:none;
}
.clips:hover {
    color:#ffcb05;
    border-bottom:solid 2px #ffcb05;
}
.mega-menu {
    background: none repeat scroll 0 0 #fff;
    left: 0;
    margin-top: -20px;
    position: absolute;
    width: 100%;
    padding: 15px 0px 5px 3.2%;
    color: #808080;
    display: none;
    transition-duration: 0.9s;
    /*column-count: 6;
    */border-bottom: solid 1px #e6e6e6;
    border-top: solid 1px #e6e6e6;
    z-index:99999;
}
.mega-menu ul li {
    /*height:200px;*/
    font-size:13px;
    color:#808080;
    width:100%;
    list-style-type:none;
    padding-top:8px;
}
.mega-menu ul li a {
    color:#808080;
}
.mega-menu ul li a:hover,.mega-menu ul li a:active,.mega-menu ul li a:focus {
    color:#808080;
    text-decoration:none;
}
.mega-menu>ul {
    height:350px;
    list-style-type:none;
    column-count:6;
    padding:0px;
}

.display-on{
    display:block;
    transition-duration: 0.9s;
}
.menu-btn {
    background: transparent;
    border: none;
    outline: none;
    height: 20px;
    width: 20px;
    padding: 0px;
    position: relative;
    top: 5px;
    float: right;
}
.menu-list {
    left: -50px;
    top: 50px;
    border-radius: 0px;
}
.menu-bar {
    color: #fff;
    font-size: 22px;
    position: relative;
    top: 5px;
}

@media (min-width:992px) and (max-width:1199px) {
    .nav-list {
        margin-right:0px;
    }
    .nav-list>li {
        margin:0 10px;
    }
    .not-profile {
        right:9px;
    }
    .mega-menu>ul {
        height: 500px;
        list-style-type: none;
        column-count: 4;
        padding: 0px;
    }
}
@media (max-width:767px) {
    .menu-list {
        left: -114px;
        top: 50px;
        border-radius: 0px;
    }
    .navbar-home {
        height:65px;
    }
    .clip-logo {
        margin-left:0px;
    }
    .margin-xs {
        margin:0px;
    }
}

